.typescript{
    
}

.title {

}

.subtitle {

}

.markdowns {
    display: flex;
    gap: 1rem;
}

.metamarkdown{
    width: 20rem;
    height: 10rem;
    border: 1px solid red;
    border-radius: 1rem;
    padding: 1rem;
}