@tailwind base; 

@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h5 {
    @apply text-2xl;
  }
  h6 {
    @apply text-xl;
  }
}

@tailwind components; 
@tailwind utilities;

/* *,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
} */

a{
  list-style: none;
  text-decoration: none;
  color: inherit;
}

:root{
    /* // 1rem = 10px */
    /* font-size: 62.5%; */
}

body {
  background-color: #0d1512;
  color: white;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  background-color: white
}
 
span {
  white-space: pre-wrap;
}
